<!--templates\blog\base.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevDoodle Blog</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Homemade+Apple|Indie+Flower|Raleway&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog.css' %}">
</head>
<body>
    <header class="pageHeader">
        <div class="headerContainer">
            <a href="/" class="logo">DevDoodle Blog</a>
            
                <a href="{% url 'post_new' %}" class="top-menu" title="New Post"><span class="fa fa-plus"></span></a>
            
        </div>
    </header>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
